<style>
    h1 {
    text-align: center;
  }

</style>

<h1 style="color: #5e9ca0;">Welcome to AskDevOps Docker Sessions (center) </h1>
<h2 style="color: #2e6c80;">We are building an application&nbsp;</h2>
<p>The goal of the application here is to build a python+flask app that can be deployed on docker and later on k8's</p>
<p>&nbsp;</p>

<h1 style="color: #5e9ca0;">Youtube Video</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/4qNdiuR5sSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9yEOduZYvzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
